
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg" style="background-color: darkslategray">
  <a class="navbar-brand" style="color:white; font-weight: bold; padding-left: 1cm;">Proizvodi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

        </li>
     </ul>
     <form class="form-inline">
        <input type="search" (ngModelChange)="searchProizvod(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Pronađi proizvod" required>
     </form>
  </div>
</nav>

<button style="width: 100%; text-align: center; border: 10px; padding-top: 0.2cm; padding-bottom: 0.2cm; background-color: green; color: white; font-weight: bold;" class="nav-link" (click)="onOpenModal(null, 'add')">Dodaj proizvod!<span class="sr-only">(current)</span></button>




<div class="container" id="main-container" style="padding-top: 0.2cm;">
    <div class="row">
        <div *ngFor="let proizvod of proizvodi" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                
            
               <a href=""><img id="slika" src="{{proizvod?.slika_proizvoda}}" class="img-fluid"></a>
                

                    <div class="col-6 card-title align-self-center mb-0">
                        <h6>{{proizvod?.naziv}}</h6>
                    </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Marža: {{proizvod?.marza}}</li>
                    <li class="list-group-item">Cijena: {{proizvod?.cijena}}</li>
                    <li class="list-group-item">Proces: {{proizvod?.proizvodni_procesi_naziv}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a style="background-color: gray; width: 110px; color: black; margin-bottom: 10px; border: none; font-weight: bold;"  (click)="onOpenModal(proizvod, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Izmijeni</a>
                        <a style="background-color: red; width: 110px; color: white; margin-bottom: 10px; font-weight: bold;"(click)="onOpenModal(proizvod, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Izbriši</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addProizvodModal" tabindex="-1" role="dialog" aria-labelledby="addProizvodModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addProizvodModalLabel">Dodaj proizvod</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProizvod(addForm)">
          <div class="form-group">
             <label for="naziv">Naziv</label>
             <input type="text" ngModel name="naziv" class="form-control" id="naziv" placeholder="naziv" required>
          </div>
          <div class="form-group">
             <label for="slika">Slika proizvoda</label>
             <input type="text" ngModel name="slika_proizvoda" class="form-control" id="slika_proizvoda" placeholder="slika_proizvoda" required>
          </div>
          <div class="form-group">
             <label for="marza">Marža</label>
             <input type="number" ngModel name="marza" class="form-control" id="marza" placeholder="marža" required>
          </div>
          <div class="form-group">
             <label for="cijena">Cijena</label>
             <input type="number" ngModel name="cijena" class="form-control" id="cijena" placeholder="cijena" required>
          </div>
          <div class="form-group">
             <label for="proizvodni_procesi_id">Id proizvodnog process</label>
             <input type="text" ngModel name="proizvodni_procesi_id" class="form-control" id="proizvodni_procesi_id" placeholder="proizvodni_procesi_id" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-proizvodi-form" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" style="border: none; background-color: green;">Sačuvaj</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>


<div class="modal fade" id="updateProizvodModal" tabindex="-1" role="dialog" aria-labelledby="proizvodEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateProizvodModalLabel">Izmijeni {{updateProizvodi?.naziv}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #updateForm="ngForm">
              <div class="form-group">
                 <label for="naziv">Naziv</label>
                 <input type="text" ngModel="{{updateProizvodi?.naziv}}" name="naziv" class="form-control" id="naziv" aria-describedby="emailHelp" placeholder="naziv">
              </div>
              <div class="form-group">
                <label for="slika">Slika</label>
                <input type="text" ngModel="{{updateProizvodi?.slika_proizvoda}}" name="slika_proizvoda" class="form-control" id="slika_proizvoda" placeholder="slika">
             </div>
              <div class="form-group">
                 <label for="marza">Marža</label>
                 <input type="number" ngModel="{{updateProizvodi?.marza}}" name="marza" class="form-control" id="marza" placeholder="marža">
              </div>
              <div class="form-group">
                 <label for="cijena">Cijena</label>
                 <input type="number" ngModel="{{updateProizvodi?.cijena}}" name="cijena" class="form-control" id="cijena" placeholder="cijena">
              </div>
              <div class="form-group">
                 <label for="Proces_id">Id procesa</label>
                 <input type="number" ngModel="{{updateProizvodi?.proizvodni_procesi_id}}" name="proizvodni_procesi_id" class="form-control" id="proizvodni_procesi_id" placeholder="proizvodni proces">
              </div>
              <input type="hidden" ngModel="{{updateProizvodi?.id}}" name="id" class="form-control" id="id" placeholder="id">
              <div class="modal-footer">
                 <button type="button" id="update-proizvodi-modal" data-dismiss="modal" class="btn btn-secondary">Zatvori</button>
                 <button (click)="onUpdateProizvod(updateForm.value)" data-dismiss="modal" class="btn btn-primary" style="border: none; background-color: green;">Sačuvaj</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>


<!--
<div class="modal fade" id="deleteProizvodModal" tabindex="-1" role="dialog" aria-labelledby="deleteProizvodLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteProizvodLabel">Izbriši proizvod</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Da li ste sigurni da želite izbirisati {{deleteProizvod?.naziv}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
              <button (click)="onDeleteProizvod(deleteProizvod?.id)" class="btn btn-danger" data-dismiss="modal">Da</button>
           </div>
        </div>
     </div>
  </div>
</div>

-->