<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg" style="background-color: darkslategray">
  <a class="navbar-brand" style="color:white; font-weight: bold; padding-left: 1cm;">Dobavljači</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

        </li>
     </ul>
     <form class="form-inline">
        <input type="search" (ngModelChange)="searchDobavljaci(key.value)" #key="ngModel" ngModel
         name="key" id="searchName" class="form-control mr-sm-2" placeholder="Pronađi dobavljača" required>
     </form>
  </div>
</nav>

<button style="width: 100%; text-align: center; border: 10px; padding-top: 0.2cm; padding-bottom: 0.2cm; background-color: green; color: white; font-weight: bold;" class="nav-link" (click)="onOpenModal3(null, 'add')">Obezbijedi dobavljača!<span class="sr-only">(current)</span></button>




<div class="container" id="main3-container" style="padding-top: 0.2cm;">
    <div class="row">
        <div *ngFor="let dobavljac of dobavljaci" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h6>{{dobavljac?.naziv}}</h6>
                    </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Id: {{dobavljac?.id}}</li>
                    <li class="list-group-item">JIB: {{dobavljac?.jib}}</li>
                    <li class="list-group-item">Pdv: {{dobavljac?.pdv}}</li>
                    <li class="list-group-item">Telefon: {{dobavljac?.broj_telefona}}</li>
                    <li class="list-group-item">Kontakt: {{dobavljac?.kontakt_osoba}}</li>
                    <li class="list-group-item">Email: {{dobavljac?.email_adresa}}</li>
                    <li class="list-group-item">Početak ugovora: {{dobavljac?.datum_pocetka}}</li>
                    <li class="list-group-item">Kraj ugovora: {{dobavljac?.datum_zavrsetka}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a style="background-color: gray; width: 110px; color: black; margin-bottom: 10px; border: none; font-weight: bold;"  (click)="onOpenModal3(dobavljac, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">Izmijeni</a>
                        <a style="background-color: red; width: 110px; color: white; margin-bottom: 10px; font-weight: bold;"(click)="onOpenModal3(dobavljac, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">Izbriši</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addDobavljacModal" tabindex="-1" role="dialog" aria-labelledby="addDobavljacModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addDobavljacModalLabel">Obezbijedi dobavljača</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddDobavljac(addForm)">
          <div class="form-group">
             <label for="naziv">Naziv</label>
             <input type="text" ngModel name="naziv" class="form-control" id="naziv" placeholder="naziv" required>
          </div>
          <div class="form-group">
             <label for="jib">JIB</label>
             <input type="text" ngModel name="jib" class="form-control" id="jib" placeholder="JIB" required>
          </div>
          <div class="form-group">
             <label for="pdv">Pdv</label>
             <input type="text" ngModel name="pdv" class="form-control" id="pdv" placeholder="pdv" required>
          </div>
          <div class="form-group">
             <label for="broj_telefona">Telefon</label>
             <input type="text" ngModel name="broj_telefona" class="form-control" id="broj_telefona" placeholder="telefon" required>
          </div>
          <div class="form-group">
             <label for="kontakt_osoba">Kontakt</label>
             <input type="text" ngModel name="kontakt_osoba" class="form-control" id="kontakt_osoba" placeholder="kontakt" required>
          </div>
          <div class="form-group">
            <label for="email_adresa">Email</label>
            <input type="text" ngModel name="email_adresa" class="form-control" id="email_adresa" placeholder="email" required>
         </div>
         <div class="form-group">
            <label for="datum_pocetka">Početak ugovora</label>
            <input type="date" ngModel name="datum_pocetka" class="form-control" id="datum_pocetka" placeholder="slanje" required>
         </div>
          <div class="modal-footer">
             <button type="button" id="add-dobavljaci-form" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" style="border: none; background-color: green;">Sačuvaj</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>


<div class="modal fade" id="updateDobavljacModal" tabindex="-1" role="dialog" aria-labelledby="dobavljacEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateDobavljacModalLabel">Izmijeni {{updateDobavljaci?.naziv}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #updateForm="ngForm">
              <div class="form-group">
                 <label for="naziv">Naziv</label>
                 <input type="text" ngModel="{{updateDobavljaci?.naziv}}" name="naziv" class="form-control" id="naziv" aria-describedby="emailHelp" placeholder="naziv">
              </div>
              <div class="form-group">
                <label for="jib">JIB</label>
                <input type="text" ngModel="{{updateDobavljaci?.jib}}" name="jib" class="form-control" id="jib" placeholder="JIB">
             </div>
              <div class="form-group">
                 <label for="pdv">Pdv</label>
                 <input type="text" ngModel="{{updateDobavljaci?.pdv}}" name="pdv" class="form-control" id="pdv" placeholder="pdv">
              </div>
              <div class="form-group">
                 <label for="broj_telefona">Telefon</label>
                 <input type="text" ngModel="{{updateDobavljaci?.broj_telefona}}" name="broj_telefona" class="form-control" id="broj_telefona" placeholder="telefon">
              </div>
              <div class="form-group">
                 <label for="kontakt_osoba">Kontakt</label>
                 <input type="text" ngModel="{{updateDobavljaci?.kontakt_osoba}}" name="kontakt_osoba" class="form-control" id="kontakt_osoba" placeholder="kontakt_osoba">
              </div>
              <div class="form-group">
                <label for="email_adresa">Email</label>
                <input type="text" ngModel="{{updateDobavljaci?.email_adresa}}" name="email_adresa" class="form-control" id="email_adresa" placeholder="email">
             </div>
             <div class="form-group">
                <label for="datum_pocetka">Početak ugovora</label>
                <input type="date" ngModel="{{updateDobavljaci?.datum_pocetka}}" name="datum_pocetka" class="form-control" id="datum_pocetka" placeholder="početak ugovora">
             </div>
             <div class="form-group">
                <label for="datum_zavrsetka">Kraj ugovora</label>
                <input type="date" ngModel="{{updateDobavljaci?.datum_zavrsetka}}" name="datum_zavrsetka" class="form-control" id="datum_zavrsetka" placeholder="kraj ugovora">
             </div>
              <input type="hidden" ngModel="{{updateDobavljaci?.id}}" name="id" class="form-control" id="id" placeholder="id">
              <div class="modal-footer">
                 <button type="button" id="update-dobavljaci-modal" data-dismiss="modal" class="btn btn-secondary">Zatvori</button>
                 <button (click)="onUpdateDobavljac(updateForm.value)" data-dismiss="modal" class="btn btn-primary" style="border: none; background-color: green;">Sačuvaj</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!--
<div class="modal fade" id="deleteProizvodModal" tabindex="-1" role="dialog" aria-labelledby="deleteProizvodLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteProizvodLabel">Izbriši proizvod</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Da li ste sigurni da želite izbirisati {{deleteProizvod?.naziv}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
              <button (click)="onDeleteProizvod(deleteProizvod?.id)" class="btn btn-danger" data-dismiss="modal">Da</button>
           </div>
        </div>
     </div>
  </div>
</div>

-->